.lp-active {
    background: #000000 url(../images/body-bg.png) no-repeat center center;
    color: #fff;
    padding: 2rem;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content-wrapper {
    display: none;
}


/* ==========================================================================
	Body Content
========================================================================== */

.lp-active .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 3rem;
    line-height: 1;
}

.lp-active .logo__mid {
    margin: 0 1rem;
    font-size: 1.7rem;
}

.lp-active .logo1 {
    position: relative;
    top: 0.3rem;
}


.lp-active .body-content {
    text-align: center;
}


.lp-active .body-content__text {
    opacity: 0.6;
    max-width: 13rem;
    font-weight: normal;
    margin: 1rem auto 0;
}


.lp-active .body-content__heading {
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    font-size: 2.8rem;
    margin-bottom: 3rem;
    background-image: -webkit-gradient(linear, left top, right top, from(#ff0080), color-stop(50%, #ff8c00), to(#40e0d0));
    background-image: linear-gradient(90deg, #ff0080 0%, #ff8c00 50%, #40e0d0 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 0px 4px 10px rgb(255 255 255 / 25%);
}

.lp-active h2.body-content__heading {
    font-size: 1.8rem;
}

.lp-active .hash-code {
    font-weight: 700;
    font-size: 1.3rem;
    margin-top: 1rem;
}


/* ==========================================================================
	Button
========================================================================== */

.lp-active .btn {
    display: inline-block;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    color: #000;
    background: #fd6b6e;
    background: -moz-linear-gradient(left, #fd6b6e 0%, #f37873 20%, #c7b18a 78%, #bbc191 100%);
    background: -webkit-linear-gradient(left, #fd6b6e 0%, #f37873 20%, #c7b18a 78%, #bbc191 100%);
    background: linear-gradient(to right, #fd6b6e 0%, #f37873 20%, #c7b18a 78%, #bbc191 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fd6b6e', endColorstr='#bbc191', GradientType=1);
    border: 0;
    line-height: 1;
    cursor: pointer;
    padding: 1rem 2.24rem;
    border-radius: 1.5rem;
    box-shadow: 0 0.35rem 0 #83413c;
    transition: 350ms ease-in-out;
}

.lp-active .btn:active {
    box-shadow: none;
}



/* ==========================================================================
	Key
========================================================================== */

.lp-active .key {
    background-color: #d1e3da;
    height: 10rem;
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: 0 auto;
    border-radius: 1rem;
}



/* ==========================================================================
	FS Overlay
========================================================================== */

.fs-overlay {
    position: fixed;
    left: 0;
    top: 0;
    cursor: pointer;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    width: 100%;
    height: 100%;
}

/* ==========================================================================
	Popup
========================================================================== */
 .site-popup--white   {
    display: none;
    text-align: center;
    background-color: #ffffff;
    padding: 0rem 0rem 0.5rem 0.5;
    color: #0f0c0c;
    position: fixed;
    left: 50%;
    top: 50%;
    height: 40px,
    width:40px;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    z-index: 11;
}

.lp-active .site-popup {
    display: none;
    text-align: center;
    background-color: #262525;
    padding: 4rem 2.5rem;
    color: #fff;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    z-index: 11;
}

.lp-active .site-popup--light {
    background-color: #fff;
}

.lp-active .popup__subheading,
.lp-active .popup__heading {
    font-weight: normal;
}

.lp-active .popup__subheading {
    font-size: 1.6875rem;
    margin-bottom: 1rem;
}


.lp-active .popup__heading {
    font-size: 2.2rem;
    margin-bottom: 2rem;
}


.lp-active .connect-wallet-popup {
    padding: 0;
}

.connect-wallet-popup .wallet-btn {
    border: 0;
    outline: 0;
    background: none;
    padding: 2rem;
    display: block;
    cursor: pointer;
    width: 100%;
    transition: 350ms ease-in-out;
    border-radius: 1rem;
}
.wallet-manage-popup .wallet-btn {

  background-color: #04AA6D; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
} 


.connect-wallet-popup .wallet-btn:hover {
    background-color: #f5f5f5;
}

.connect-wallet-popup .popup__subheading {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

/* ==========================================================================
	Media Queries
========================================================================== */


@media (max-width: 767px) {

    .lp-active .body-content__heading {
        font-size: 2.2rem;
    }

    .lp-active .site-popup {
        width: 95%;
        padding: 2rem 1rem;
    }

    .lp-active .popup__heading {
        font-size: 1.5rem;
    }

    .lp-active .popup__subheading {
        font-size: 1.2rem;
    }

    .lp-active .btn {
        font-size: 0.9rem;
    }

}